#titleDiv {
  text-align: center;
  background-color: darkGrey;
  padding-bottom: 1em;
}

#title {
  margin-bottom: auto;
}

#inputFormDiv {
  display: none;
}

#tableDiv {
  display: none;
  text-align: center;
}

th {
  text-align: center;
}
